@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Add-webinar{
  display: flex;
  flex-direction: column;
  gap: 48px;
  border-radius: 20px;
  background-color: var(--background-light);
  width: 400px;
  height: 500px;
  padding: 20px;
  .edit-mode-form{
    .edit-mode-fields{
      .upload{
        width: 100%;
      }
    }
  }
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  .spinner {
    color: #2200ff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Set the desired width */
    height: 40px; /* Set the desired height */
    margin: 0 auto; /* Adjust margin as needed */
    animation: rotate 1s linear infinite; /* Apply the animation */
  }
  
}


}