.Help-container {
  width: 100%;
  // edited
  overflow-y: scroll;
  .help-search {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 10% 5%;
    // edited
    h1{
     font-size:30px ;
    }
  }
  .chat-help {
    display: flex;
    position: absolute;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--primary-dark);
    right: 20px;
    bottom: 20px;
  }
}
