.dropdown{
    .dropdown-toggle{
        cursor: pointer;
    }
    .dropdown-options{
        position: absolute;
        top: 109px;
        right: 227px;
        background-color: var(--background-light);
        padding: 20px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .edit{
            cursor: pointer;
            padding: 8px 12px;
            border-radius: 10px;
            &:hover {
                background-color: var(--background-color);
              }
        }
        .delete{
            padding: 8px 12px;
            cursor: pointer;
            border-radius: 10px;
            &:hover {
                background-color: var(--background-color);

              }
        }
       
    }
}